<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mental Health App</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Welcome to the Mental Health Application</h1>
    <button onclick="window.location.href='/emotion-detection'">Facial Emotion Detection</button>
    <button onclick="window.location.href='/questionnaire'">Start Questionnaire</button>
    <button type="button" onclick="window.location.href='/research'">Research Paper Analysis</button>
    <!-- <button type="button" onclick="window.location.href='/dummy'">Research Paper Analysis-dummy</button> -->
      
</body>
</html>
